In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./전처리_이진규.xlsx", sheet_name = 'Sheet1')

In [3]:
df.head()

,Unnamed: 0,사고명,발생일시,사고인지 시간,공공/민간 구분,기상상태,시설물 종류,인적사고,보호(방호)조치여부,물적사고,...,공정률,작업자수,안전관리계획,설계안전성검토,해체계획서,사고조사방법,위원회조사필요성,위원회구성(안),향후조치계획,url
0,0,경상북도 교육청 직원관사 신축공사 현장 작업자 부상,2024-04-12 오전 10:30,정규작업 -,공공,날씨 : 맑음\n\n\n기온 : 18℃\n\n\n습도 : 60%,건축 - 건축물 - 공동주택_x000D_\n\t\t\t\t\t\t\t(연면적 : 4...,"절단, 베임",안전방호 :\n_x000D_\n\t\t\t\t\t\t\t조치_x000D_\n\t\t...,없음,...,10~19%,19인 이하,대상현장(1/2종외),대상,비대상,일반조사,NaN,NaN,동일 사고가 발생하지 않도록 현장 근로자에 대한 교육실시,0
1,1,분뇨처리시설 현대화사업 추락사고,2024-04-13 오전 08:47,정규작업 -,공공,날씨 : 맑음\n\n\n기온 : 18℃\n\n\n습도 : 55%,산업환경설비 - 환경시설 - 하수처리시설,떨어짐(5미터 이상 ~ 10미터 미만),안전방호 :\n_x000D_\n\t\t\t\t\t\t\t조치_x000D_\n\t\t...,없음,...,60~69%,100~299인,대상현장(1/2종외),대상,대상,일반조사,NaN,NaN,"- 가시설물(작업발판, 안전난간대 등) 설치상태 및 훼손상태 확인 및 점검_x000...",0
2,2,부산프리미엄아울렛 2.0증축공사 현장 왼발 타박상,2024-04-12 오전 09:00,정규작업 -,민간,날씨 : 맑음\n\n\n기온 : 17℃\n\n\n습도 : 80%,건축 - 건축물 - 판매시설_x000D_\n\t\t\t\t\t\t\t(연면적 : 8...,넘어짐(미끄러짐),안전방호 :\n_x000D_\n\t\t\t\t\t\t\t해당없음_x000D_\n\t...,없음,...,70~79%,100~299인,대상현장(1/2종),비대상,대상,일반조사,NaN,NaN,교육 실시 ( 작업자 간의 이동 정리 철저 교육 ),0
3,3,경상북도교육청 직원관사 신축공사,2024-04-12 오전 10:30,정규작업 -,공공,날씨 : 맑음\n\n\n기온 : 18℃\n\n\n습도 : 60%,건축 - 건축물 - 공동주택_x000D_\n\t\t\t\t\t\t\t(연면적 : 4...,"절단, 베임",안전방호 :\n_x000D_\n\t\t\t\t\t\t\t조치_x000D_\n\t\t...,없음,...,10~19%,19인 이하,대상현장(1/2종외),대상,비대상,일반조사,NaN,NaN,추가사고 발행하지 않도록 현장근로장 대한교욱실시,0
4,4,온천4 재개발사업 작업자 발목 접지름,2024-04-13 오전 11:30,정규작업 -,민간,날씨 : 맑음\n\n\n기온 : 19℃\n\n\n습도 : 52%,건축 - 건축물 - 공동주택_x000D_\n\t\t\t\t\t\t\t(연면적 : 6...,기타,안전방호 :\n\n_x000D_\n\t\t\t\t\t\t\t/_x000D_\n\t\...,없음,...,80~89%,500인 이상,대상현장(1/2종),비대상,비대상,일반조사,NaN,NaN,"작업 전, 중, 후 스트레칭 실시_x000D_근골격계 질환예방 교육 실시",0

In [4]:
df.columns

Index(['Unnamed: 0', '사고명', '발생일시', '사고인지 시간', '공공/민간 구분', '기상상태', '시설물 종류',
       '인적사고', '보호(방호)조치여부', '물적사고', '공종', '사고객체', '작업프로세스', '장소', '부위',
       '사고경위', '사고원인', '구체적 사고원인', '사망자수(명)', '부상자수(명)', '피해금액', '피해내용',
       '사고신고사유', '사고발생후 조치사항', '재발방지대책', '시군구 정보', '공사종류', '공사비', '낙찰률',
       '공사기간', '공정률', '작업자수', '안전관리계획', '설계안전성검토', '해체계획서', '사고조사방법',
       '위원회조사필요성', '위원회구성(안)', '향후조치계획', 'url'],
      dtype='object')

In [21]:
area = df['시군구 정보']

In [22]:
area2 = area.str.replace('_x000D_', '')
area2 = area2.str.replace('\t', '')
area2 = area2.str.replace('\xa0', '')
area2 = area2.str.split("\n")

In [23]:
df_area = pd.DataFrame(area2.to_list(), columns = ['지역1', '지역2'])

In [24]:
df_area['지역2'].nunique()

253

In [25]:
area_dict = {"경상북도" : "경상도", "경상남도" : "경상도", "전라북도" : "전라도", "전라남도" : "전라도",
             "충청북도" : "충청도", "충청남도" : "충청도"}

In [26]:
def area_map(x):
    try:
        return area_dict[x]
    except:
        return x

In [27]:
df_area['지역1_2'] = df_area['지역1'].apply(area_map)

In [28]:
df_area['지역1'].unique()

array(['경상북도', '부산광역시', '경상남도', '대구광역시', '울산광역시', '광주광역시', '전라남도',
       '대전광역시', '강원특별자치도', '경기도', '제주특별자치도', '충청남도', '충청북도', '세종특별자치시',
       '서울특별시', '전라북도', '인천광역시', '강원도'], dtype=object)

In [29]:
df_area['지역2'].str.split()

0         [예천군]
1         [사상구]
2         [기장군]
3         [예천군]
4         [동래구]
          ...
23717     [부천시]
23718    [서귀포시]
23719     [평택시]
23720      [서구]
23721     [부천시]
Name: 지역2, Length: 23722, dtype: object

In [30]:
df_area['지역2'] = df_area['지역2'].fillna("결측")

In [31]:
df_area['지역2_2'] = df_area['지역2'].str.split().apply(lambda x : x[0])

In [32]:
df_area['지역2_2']

0         예천군
1         사상구
2         기장군
3         예천군
4         동래구
         ...
23717     부천시
23718    서귀포시
23719     평택시
23720      서구
23721     부천시
Name: 지역2_2, Length: 23722, dtype: object

In [33]:
df_area

           지역1   지역2    지역1_2 지역2_2
0         경상북도   예천군      경상도   예천군
1        부산광역시   사상구    부산광역시   사상구
2        부산광역시   기장군    부산광역시   기장군
3         경상북도   예천군      경상도   예천군
4        부산광역시   동래구    부산광역시   동래구
...        ...   ...      ...   ...
23717      경기도   부천시      경기도   부천시
23718  제주특별자치도  서귀포시  제주특별자치도  서귀포시
23719      경기도   평택시      경기도   평택시
23720    인천광역시    서구    인천광역시    서구
23721      경기도   부천시      경기도   부천시

[23722 rows x 4 columns]

In [ ]:
df_area.to_excel

In [17]:
df_point = pd.read_excel("./전국_위경도.xlsx", sheet_name = 'location')

In [18]:
df_point

        docity       do city   longitude   latitude
0       강원도강릉시      강원도  강릉시  128.878497  37.749136
1       강원도고성군      강원도  고성군  128.470164  38.377961
2       강원도동해시      강원도  동해시  129.116633  37.521931
3       강원도삼척시      강원도  삼척시  129.167489  37.447086
4       강원도속초시      강원도  속초시  128.594167  38.204275
..         ...      ...  ...         ...        ...
303    울산광역시결측    울산광역시   결측  129.336681  35.544788
304    인천광역시결측    인천광역시   결측  126.659829  37.507328
305      전라도결측      전라도   결측  126.988868  35.268587
306  제주특별자치도결측  제주특별자치도   결측  126.522882  33.374331
307      충청도결측      충청도   결측  127.267973  36.548332

[308 rows x 5 columns]

In [19]:
df_area['combinded'] = df_area['지역1_2'] + df_area['지역2_2']

In [20]:
tmp123 = pd.merge(left = df_area, right = df_point[['docity', 'longitude', 'latitude']], how = 'inner', left_on = 'combinded', right_on='docity')

In [21]:
tmp123.isnull().sum()

지역1          0
지역2          0
지역1_2        0
지역2_2        0
combinded    0
docity       0
longitude    0
latitude     0
dtype: int64

In [22]:
tmp123

         지역1  지역2  지역1_2 지역2_2 combinded   docity   longitude   latitude
0       경상북도  예천군    경상도   예천군    경상도예천군   경상도예천군  128.455022  36.654950
1       경상북도  예천군    경상도   예천군    경상도예천군   경상도예천군  128.455022  36.654950
2       경상북도  예천군    경상도   예천군    경상도예천군   경상도예천군  128.455022  36.654950
3       경상북도  예천군    경상도   예천군    경상도예천군   경상도예천군  128.455022  36.654950
4       경상북도  예천군    경상도   예천군    경상도예천군   경상도예천군  128.455022  36.654950
...      ...  ...    ...   ...       ...      ...         ...        ...
23466   경상북도  군위군    경상도   군위군    경상도군위군   경상도군위군  128.575078  36.239997
23467   경상북도  군위군    경상도   군위군    경상도군위군   경상도군위군  128.575078  36.239997
23468   충청남도   결측    충청도    결측     충청도결측    충청도결측  127.267973  36.548332
23469   충청남도   결측    충청도    결측     충청도결측    충청도결측  127.267973  36.548332
23470  광주광역시   결측  광주광역시    결측   광주광역시결측  광주광역시결측  126.881980  35.150597

[23471 rows x 8 columns]

In [23]:
sample = tmp123.iloc[0]
sample

지역1                경상북도
지역2                 예천군
지역1_2               경상도
지역2_2               예천군
combinded        경상도예천군
docity           경상도예천군
longitude    128.455022
latitude       36.65495
Name: 0, dtype: object

In [40]:
from haversine import haversine

In [25]:
test1 = (sample['latitude'], sample['longitude'])

In [35]:
point_loc = pd.read_excel("./지점_위치.xlsx")

In [36]:
def search_point(x):
    best = None
    best_point = None

    for i, v in enumerate(point_loc.index):
        tmp_point = (point_loc.loc[v, '위도'], point_loc.loc[v, '경도'])
        hav = haversine(x, tmp_point, unit = 'km')
        if not best:
            best = hav
            best_point = point_loc.loc[v, '지점번호']
        else:
            if best > hav:
                best = hav
                best_point = point_loc.loc[v, '지점번호']

    return best_point

In [41]:
search_point((36.5040736, 127.2494855))

239

In [28]:
for i in tmp123.index:
    if i % 100 == 0:
        print(i)
    tmp123.loc[i, 'point'] = search_point((tmp123.loc[i, 'latitude'], tmp123.loc[i, 'longitude']))

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400

In [29]:
tmp123.to_csv("./위치별_관측소.csv", index = False)